@font-face {
    font-family: 'UTM Bebas';
    src:  url('../fonts/UTM Bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
    padding: 0px;
}
a{text-decoration: none;}
body {
    background: url(../images/bg_cat.png);
    font-family: utm_avoregular, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

ul li {
    list-style-type: none;
}

html {
    overflow-y: scroll;
}

#container {
    width: 100%;
    margin: 0 auto;
    float: left;
}
#container-cat {
    width: 100%;
    margin: 0 auto;

}
.logo-desktop img {
    margin-top: 10px;
}
.h3TitleNews a{
    float: left;
    text-align: left;
}
.news {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 70px;
}
.news .slider-news {
    width: 750px;
    border-radius: 20px;
    background: #fff;
    /* padding: 20px 0px 10px; */
    padding: 0px 0px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.main-slider {
    margin-bottom: 40px;
}
.panel-body {
    padding: 0px;
}
.panel-body .table {
    margin-bottom: 0px;
}
.panel-body .table a{
   font-size: 14px;
}
.header {
    background-color: #1B1464;
    background: -moz-radial-gradient(center center, ellipse closest-side, #1B1464 0%, #1B1464 100%);
    background: -o-radial-gradient(center center, ellipse closest-side, #1B1464 0%, #1B1464 100%);
    background: -ms-radial-gradient(center center, ellipse closest-side, #1B1464 0%, #1B1464 100%);
    background: -webkit-radial-gradient(center center, ellipse closest-side, #1B1464 0%, #1B1464 100%);
    height: 105px;
    width: 100%;
    float: left;
}
.topmenu {
    width: 100%;
    background: #1b1464;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}
.menu {
    width: 1000px;
    margin: 0 auto;
}
.info-new-detail {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 0px #BCBCBC;
}
.tittle_news {
    font-family: 'SegoeUI Bold';
    font-size: 22px;
    color: #333333;
    font-weight: bold;
}
.info-new-detail .text-detail {
    padding: 15px 0px 0px 0px;
}
.menu .logo {
    float: left;
    padding-top: 6px;
    position: relative;
    z-index: 2;
}
.menu .mdland-navigator {
    margin-right: 250px;
    position: relative;
    z-index: 1;
}
.menu .mdland-navigator li {
    margin-right: 10px;
}
.menu .mdland-navigator .mn-desktop {
    color: #FFF;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.current{
    border-bottom: 5px solid #ff0000;
}
.slider{
    width: 100%;
    float: left;
}

.title-news-sale {
    font-size: 16px;
    border-bottom: 2px solid #dcdcdc;
}
.h1GameNapThe {
    margin-top: 10px;
}
.title-news-sale a {
    border-bottom: 2px solid #D40003;
    height: 27px;
    display: inline-block;
    margin-bottom: -2px;
    font-size: 18px;
    text-transform: uppercase;
}
.h3TitleGuide {
    margin-top: -13px;
}
.news-sale {
    width: 250px;
}
.game_card_item ul li{
    float: left;
   display: inline;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 10px;
    width: 23%;
}
#con {
    width: 100%;
    background-color: black;
    height: auto;
}
#gallery-it a {
    width: 23%;
    margin-right: 1%!important;
    margin-left: 1%!important;
    float: left;
    margin-bottom: 1%!important;
    margin-top: 1%;
    background: #fdfdfd;
    border: solid 1px #ccc;
}
#gallery-it a img {
    width: 100%;
}
#gallery-it a span {
    width: 100%;
    background: rgba(48, 13, 99, 0.68);
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: bolder;
    line-height: 2;
    color: #fff2a7;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: -5px;
    transition: all ease 0.2s;
}
.news-sale ul {
    margin: 0px;
    padding-top: 15px;
    overflow: hidden;
    padding-bottom: 15px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.news-sale ul li:last-child a.info-news {
    margin-bottom: 0px;
}

.news-sale ul li a.info-news {
    margin-bottom: 18px;
    display: block;
}
.news-sale .info-news-left {
    float: left;
    margin-right: 8px;
}
.news-sale .info-news-right {
    padding-left: 8px;
    line-height: 15px;
    max-height: 45px;
    overflow: hidden;
}
.info-news {
    display: inline-block;
    margin-bottom: 9px;
    color: #333;
}
.h3TitleNews {
    font-size: 13px;
    margin-top: 0px;
}
.item_game{
    float: left;
    background: #fff;
}
.item_game img{
    width: 100%;
    padding: 5px
}
.name_game{
    width: 100%;
    float: left;
    height: 50px;
    background: #1B1464;
}
.name_game a{
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    text-transform: uppercase;
    line-height: 50px;
}


.footer {
    background: url("../images/banner.jpg");
}
.info-footer {
    width: 1000px;
    margin: 0 auto;
}

.footer-left > ul {
    margin: 0px;
}

    .footer-left > ul > li {
        vertical-align: top;
        width: 33%;
        float: left;
    }

        .footer-left > ul > li:first-child {
            /*background: #1561ac;
            padding-left: 10px;*/
        }

            .footer-left > ul > li:first-child .fa {
                font-size: 24px;
                color: #fff;
                float: left;
                padding-right: 15px;
            }

            .footer-left > ul > li:first-child p {
                margin: 0px;
            }

.footer-left .hi-items {
    margin: 0 auto;
    padding: 25px 0px 0px 0px;
}

    .footer-left .hi-items .title {
        margin-bottom: 0px;
    }

        .footer-left .hi-items .title .fa {
            display: none;
        }

    .footer-left .hi-items ul {
        padding-top: 15px;
    }

    .footer-left .hi-items .alias-items li {
        padding-bottom: 15px;
    }

.footer-left strong {
    font-size: 16px;
    color: #592fa9;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.alias-footer {
    padding-left: 15px;
    padding-top: 15px;
}

    .alias-footer li {
        padding: 2px 0px;
        list-style: disc;
        color: #1b1464;
        list-style-type: none;
    }
.alias-footer a p{
    padding-left: 10px;
}
    .alias-footer a {
        font-size: 12px;
        color: #592fa9;
        padding-left: 15px;
    }
.hi-items img{
    width: 100%;
}
.payment {
    background: #ffffff;
    border: 0px solid #bcbcbc;
    box-shadow: 1px 1px 1px 0px #BCBCBC;
}
.info-payment {
    width: 1000px;
    margin: 15px auto;
}
.info-payment .support-payment {
    padding: 10px 10px 0px 0px;
    color: #5e5e5e;
    float: left;
}
.paymentslider {
    margin: 0px 0px 0px 120px;
    border-left: 1px solid #dcdcdc;
    padding-left: 8px;
}
.bottom-footer {
    background: #1b1464;
}
.info-bottom-footer {
    width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
}
.menu-bottom-footer .list-inline {
    margin: 0px;
}
.menu-bottom-footer ul li {
    border-right: 1px solid #8A8582;
    padding: 0px 10px;
}
.menu-bottom-footer ul li a {
    color: #fff;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 11px;
}
.footer-sologan {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 0px 0px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #b1adab;
    font-weight: bold;
    font-size: 11px;
}
.app-right {
    width: 100%;
    height: 400px;
    padding: 5px;
    margin: auto;
    background-size: 100% 100%;
    padding-bottom: 20px;
}
/**************************************************************************************************landding**********************************************************************************/

.reason{
   width: 100%;
    margin: 0 auto;
}
.reason_text{
    width: 100%;
    float: left;
}
.reason_text .content{
   position: absolute;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    margin-top: -10%;
}
.n1{
    background: url("../images/n1.png") no-repeat scroll 0px 0px ;
padding-left: 25px;

}
.n2{
    background: url("../images/n2.png") no-repeat scroll 0px 0px ;
    padding-left: 35px;
}
.option_card{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.option_card ul{
    display: block;
    width: 100%;
}
.option_card ul li{
    display: inline;
   float: left;
    padding-left: 20px;
    width: 20%;
}
.item_option{
    width: 100%;
    float: left;
   border-radius:15px;
    border-bottom: 5px solid #000;
}
.item_option1 {
    width: 100%;
    float: left;
    border-radius: 15px;
    border-bottom: 5px solid transparent;
}
.option_card ul li:first-child{
    float: left;
}
.top_option1{
    background: #ea1b67; /* For browsers that do not support gradients */
    float: left;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.mid_option1{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    float: left;
    height: 180px;
    width: 100%;
}
.top_option1 span{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10%;
}
.mid_option1 span{
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20%;
    padding: 6px;
}
.bot_option1{
    background: #ec4340; /* For browsers that do not support gradients */
    float: left;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

}
.top_option1{
    background: #ea1b67; /* For browsers that do not support gradients */
    float: left;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.mid_option1{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    float: left;
    height: 180px;
    width: 100%;
}
.top_option1 span{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10%;
    line-height: 26px;
}
.mid_option1 span{
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20%;
    padding: 6px;
}
.bot_option1{
    background: #ec4340; /* For browsers that do not support gradients */
    float: left;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

}
.top_option2{
    background: -webkit-linear-gradient(right,#ed5b2d, #fcc536 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ed5b2d, #fcc536); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#ed5b2d, #fcc536); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left,#ed5b2d, #fcc536); /* Standard syntax (must be last) */
    float: left;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.mid_option2{
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    float: left;
    height: 180px;
    width: 100%;
}
.top_option2 span{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10%;
     line-height: 26px;
}
.mid_option2 span{
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20%;
    padding: 6px;
}
.bot_option2{
    background: #fcc536; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right,#ed5b2d, #fcc536 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ed5b2d, #fcc536); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#ed5b2d, #fcc536); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left,#ed5b2d, #fcc536); /* Standard syntax (must be last) */
    float: left;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

}
.top_option3{
    background: #2aafe9;
    background: -webkit-linear-gradient(left,#2aafe9, #2ac1b2 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2aafe9, #2ac1b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#2aafe9, #2ac1b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#2aafe9, #2ac1b2); /* Standard syntax (must be last) */
    float: left;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.mid_option3{
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    float: left;
    height: 180px;
    width: 100%;
}
.top_option3 span{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10%;
     line-height: 26px;
}
.mid_option3 span{
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20%;
    padding: 6px;
}
.bot_option3{
    background: #2aafe9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#2aafe9, #2ac1b2 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2aafe9, #2ac1b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#2aafe9, #2ac1b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#2aafe9, #2ac1b2); /* Standard syntax (must be last) */
    float: left;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.top_option4{
    background: #e1008a;
    background: -webkit-linear-gradient(left,#e1008a, #632b8e ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e1008a, #632b8e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#e1008a, #632b8e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#e1008a, #632b8e); /* Standard syntax (must be last) */
    float: left;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.mid_option4{
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    float: left;

    width: 100%;
}
.top_option4 span{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10%;
     line-height: 26px;
}
.mid_option4 span{
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20%;
    padding: 6px;
}
.bot_option4{
    background: #e1008a;
    background: -webkit-linear-gradient(left,#e1008a, #632b8e ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e1008a, #632b8e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#e1008a, #632b8e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#e1008a, #632b8e); /* Standard syntax (must be last) */
    float: left;
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.mid_option4 ul{
    float: left;
    width: 100%;
}
.mid_option4 ul li .event {
    float: left;
    width: 95%;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px !important;
    margin: 0px !important;
}
.icon-check{
    background: url(../images/check.png) no-repeat scroll 0px 6px;
    width: 23px;
    height: 24px;
    float: left;
}
.mid_option4 ul li a{
    height: 30px;
    float: left;
    width: 83%;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    padding-left: 15px;
}
.old{
    background: #E6E6E6;
    width: 100%;
    float: left;
}
.event{
    background: #fff;
    width: 100%;
    float: left;
}
.old a{
     color: #4D4D4D;
    font-weight: bold;
 
    line-height: 30px;
}
.event a{
      color: #4D4D4D;
    font-weight: bold;
      line-height: 30px;
    
}
.top_text{
    width: 100%;
    float: left;
    text-align: center;

    color: #4D4D4D;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}
.guide{
    float: left;
    width: 100%;

}
.guide_text{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 13%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.guide_content{
   width: 100%;
    margin: 0 auto;
}
.guide_content ul{
    float: left;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}
.guide_content ul li{
    float: left;
    display: block;
    padding-left: 80px;
    padding-right: 80px;
}
.guide_item{
    width:250px;
    float: left;
}
.guide_title{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.guide_item img{
    display: block;
    margin: 0 auto;
}
.phone{
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 226px;
}
.phone_content{
    width: 1300px;
    margin: 0 auto;
}
.phone_content img{
    display: block;
    margin: 0 auto;
}
.phone_text{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
}
.phone_text1{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vincard{
    float: left;
    width: 100%;

    margin-top: -336px;
}
.vincard img{
    display: block;
    margin: 0 auto;
    margin-top: 13%;
}
.vincard_text {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
.vincard_text1{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}
.vincard_text2{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;

}
.btn_xem{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn_xem a img{
    display: block;
    margin: 0 auto;
}
.contact{
    float: left;
    width: 100%;


}
.contact_text{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
}
.contact_form{
    width: 774px;
    margin: 0 auto;
}
.contact_form table{
    width: 100%;
    float: left;
    border: 0px;
}
.contact_form input{
    float: left;
    width: 370px;
    border-radius: 10px;
    height: 50px;
    border: 0px;
}
.contact_form textarea{
    margin-top: 30px;
    float: left;
    width: 770px;
    border-radius: 10px;
    height: 200px;
    border: 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   padding-left: 20px;
    font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
    padding-left: 20px;
    font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
    padding-left: 20px;
    font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
    padding-left: 20px;
    font-size: 16px;
    line-height: 50px;
}
.contact_form table td img{

    margin-top: 10px;
    margin-bottom: 20px;
}
.contact_form img {

    display: block;
    margin: 0 auto;
}
.mg{
    margin-left: 30px;
}
h1 {
    font-size: 18px;
}
.panel-title {
   
    font-size: 14px;
  }
.items-left {
    width: 656px;
    float: left;
    margin-bottom: 15px;
    background: #fff;
    padding-left: 6px;
    box-shadow: 1px 1px 1px 0px #bcbcbc;
}
.items-right {
    width: 320px;
    float: right;
    background: #fff;
}
.faq_closed {
    background: none repeat scroll 0 0 #e2e2e2;
    display: block;
    float: left;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: 100%;
}
.info-new-detail {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 97%;
    float: left;
}
.tittle_news {
    font-family: 'SegoeUI Bold';
    font-size: 22px;
    color: #333333;
    font-weight: bold;
}
.info-new-detail .text-detail {
    padding: 15px 0px 0px 0px;
}
.content-user {
        background: url(../../images/home/patten.jpg);
    padding-bottom: 10px;
}
.contain_cat {
    width: 1400px;
    margin: 0 auto;

}

.panel {
    margin-bottom: 5px;
}
.content_faq{
    width: 1400px;
    margin: 0 auto;
}
.contain_faq{
    width: 100%;
    float: left;
}
.mg{margin-top: 50px}
.faq_left{
    width: 25%;
    float: left;
}
.faq_right{
    width: 74%;
    float: left;
    margin-left: 1%;
}
.faq_menu{
    float: left;
    width: 100%;
    display: block;
}
.faq_menu ul{
    float: left;
    width: 100%;
    display: block;
}
.faq_menu ul li{
    float: left;
    width: 100%;
    display: block;
    height: 50px;
    margin-bottom: 10px;

}
.faq_menu ul li a{
   text-align: left;
    padding-left: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}
.cl1{
     background: #fab633;
 }
.cl2{
    background: #b40a8b;
}
.cl3{
    background: #2abcc1;
}
.cl4{
    background: #ec483b;
}
.cat-faq ul {
    float: left;
    width: 100%;
    display: block;
}
.cat-faq li {
    width: 99%;
    display: block;
    display: block;
    float: left;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;


}
.cat-faq li a {
    color: #428bca;
    text-decoration: none;
    background: url("../images/arrow.png") no-repeat scroll 5px 5px;
    padding-left: 15px;
    width: 100%;
    float: left;
}
.tabs-menu {
    height: 40px;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #ddd; 
}

.tabs-menu li {
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 22px;
    background-color: #fff;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.activetab {
    position: relative;
    background-color: #ff0000;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.tabs-menu .activetab a {
    color: #fff;
    font-weight: bold;
}

.tab {
   
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.tab-content {
    width: 100%;
    display: none;
}

#tab-1 {
    display: block;
}

.media:first-child {
    margin-top: 0;
}

.media, .media .media {
    margin-top: 15px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media > .pull-left {
    margin-right: 10px;
}

.pull-left {
    float: left;
}

.pull-left {
    float: left;
}

.pull-left {
    float: left !important;
}
.media-heading {
    font-size: 18px;
    font-weight: bold;
}

.media-heading {
    margin: 0 0 5px;
}
.well .media img {
    width: 150px;
    height: 150px;
}
#nav {
    float: left;
    width: 280px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}
#nav li a {
    display: block;
    padding: 10px 15px;
    background: #ccc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
}
#nav li a:hover, #nav li a.active {
   
    color: #fff;
}
#nav li ul {
    display: none; // used to hide sub-menus
}
#nav li ul li a {
    padding: 10px 25px;
    background: #ececec;
    border-bottom: 1px dotted #ccc;
}
.contain_partner {
    background: #fff;
    float: left;
    width: 100%;
}
.content_home_left {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height:200px;
}
::-webkit-textarea-placeholder { /* Webkit */
    line-height:200px;
}
:-ms-textarea-placeholder { /* IE */
    line-height:200px;
}
.cat-faq li a p{
    width: 80%;
    float: left;
}
.menu .logo img {
    max-width: 120px;
}
.menu .logo-mobile {
    display: none;
}
.m-expand {
    background: transparent url(../images/search-menu.png) no-repeat scroll center center;
    cursor: pointer;
    display: none;
    float: left;
    height: 36px;
    width: 36px;
    margin: 5px 0px 0px 10px;
}
.menu_mobie .mdland-navigator {
    margin-right: 250px;
    position: relative;
    z-index: 1;
}
.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu_mobie .mdland-navigator li {
    margin-right: 10px;
}

.menu_mobie .mdland-navigator .mn-desktop {
    color: #666666;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
}
.menu_mobie .logo {
    float: left;
    padding-top: 6px;
    position: relative;
    z-index: 2;
    width: 200px;
    margin-left: 50px;
}
#accordion {
    display: none;
}
.menu-ld {
    float: left;
    width: 100%;
}
.news-sale {
    width: 250px;
}
.menu-ld ul {
    float: left;
    width: 100%;
    list-style-type: none;
    height: 105px;
}
.menu-ld ul li {
    display: inline;
    float: left;
    list-style-type: none;
    height: 100px;
}

.menu-ld ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 120px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
}
}



.application {
    background: #eae6dd;
}


.text-detail  img {
     width: 100% !important; 
    
}

/*live chat facebook*/
.hisella-messages { position: fixed; bottom: 0; right: 0; z-index: 999999; }
.hisella-messages-outer { position: relative; }
#hisella-minimize { background: #3b5998; font-size: 18px; color: #fff; padding: 3px 10px; position: absolute; top: -40px; left: 0px;  cursor: pointer;width: 100%;height: 40px;float: left; text-align: left;line-height: 40px}
@media screen and (max-width:768px){ #hisella-facebook { opacity:0; } .hisella-messages { bottom: -300px; right: 0px; } }
/**************************************************************************************************landding*********************************************************************************/
@media (max-width: 991px) {
    .menu,
    .news,
    .info-application,
    .user .info-user,
    .info-payment,
    .info-footer,
    .info-bottom-footer {
        width: 100%;
    }

    .main-slider {
        margin-bottom: 20px;
    }

    .news .slider-news {
        width: 100%;
        background: #F2F2F2 none repeat scroll 0% 0%;
        /*padding: 30px 35px 0px;*/
        margin: 0 auto;
        box-shadow: none;
        border-radius: 0;
    }

    .decors.mount2 {
        display: none;
    }


.news-sale {
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    clear: both;
    float: left;
}
    .application-right img {
        width: 100%;
        margin-top: -38px;
    }

    .footer-left .hi-items {
        width: 100%;
    }

    .news {
        padding-bottom: 0px;
    }
    /***** Info-account ******/
    .info-account-content {
        width: 100%;
        margin: 0px auto;
    }
    /**** End Info-account */
    .info-content-user {
        width: 100%;
        margin: 0px auto;
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
    /****** Home ******/
    .captra-group .form-control {
        width: 100%;
        margin-right: 0px;
    }

    .menu .logo-mobile {
        display: block;
        margin-top: 5px;
        margin-left: 0px;
    }

    .menu .logo-desktop {
        display: none;
    }

    .mm-menu > .mm-list {
        padding: 0px 0px 40px;
        background: #e4e4e4;
    }

        .mm-menu > .mm-list li:first-child {
            background: #DD3B36;
        }

        .mm-menu > .mm-list .logo-mobile {
            width: 103px;
            margin: 6px 20px;
        }

    .mm-list > li > a,
    .mm-list > li > span {
        color: #5e5e5e;
    }

    .mm-list > li:hover > a, .mm-list > li:hover > span {
       
        color: #fff;
    }

    html.mm-opened .mm-page {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    #user .mm-account .fa-user {
        width: 40px;
        height: 40px;
        font-size: 28px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        color: #1561ac;
        text-align: center;
        border-radius: 50%;
        margin: 4px 10px 4px 20px;
    }

    #user .mm-list > li > span {
        color: #fff;
        padding: 0px;
    }

    .menu .login .fa-user {
        display: block;
        color: #fff;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .menu .login ul {
        display: none;
    }

    .header {
        display: none;
    }

    .mdland-menu .navbar-nav {
        margin: 0px;
    }

    .news .slider-news {
        background: #F2F2F2 none repeat scroll 0% 0%;
        width: 100%;
        padding: 30px 35px 0px;
        margin: 0px auto;
    }

    .application-left {
        width: 100%;
        text-align: center;
    }

    .application-right {
        display: none;
    }

    .footer-left > ul > li {
        width: 100%;
    }

    .footer-left .hi-items {
        padding: 20px 0px 0px 0px;
    }

        .footer-left .hi-items .title {
            border-bottom: 1px solid #909090;
            padding: 0px 15px 10px;
        }

        .footer-left .hi-items ul {
            padding-left: 25px;
        }

        .footer-left .hi-items .title .fa {
            display: block;
            float: right;
            color: #000;
            font-size: 15px;
            cursor: pointer;
        }

    .footer-left > ul > li:last-child {
        margin-top: -1px;
    }

        .footer-left > ul > li:last-child .hi-items .title {
            border-bottom: 1px solid #5AC9E6;
        }

    .menu {
        background: #1561ac;
        position: relative;
        height: 58px;
    }

        .menu .logo {
            display: block;
            padding-top: 5px;
        }

    .navbar-header {
        position: absolute;
        left: 10px;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .menu .login {
        padding-top: 0px;
        float: right;
        position: absolute;
        top: 12px;
        right: 15px;
    }

        .menu .login:hover a {
            text-decoration: none;
        }

    .menu .menu-navigator {
        display: none;
    }

    .m-expand {
        display: block;
    }

    .menu .account ul {
        display: block;
    }

    .footer-left .hi-items .alias-items li {
        padding-bottom: 20px;
        width: 50%;
        float: left;
    }

    .m-expand {
        margin: 10px 0px 0px 0px;
    }

    .menu .account p {
        display: none;
    }
    /****** End Home ******/
    /****** Info-account ******/
    .info-account {
        width: 100%;
        margin: 0px auto;
    }

    .menu .login {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .account {
        background: transparent;
        padding-top: 12px;
    }

        .account .account-items p {
            display: none;
        }

        .account .fa-chevron-down {
            color: #fff;
            margin-right: 5px;
            margin-top: 7px;
        }

    .alias-menu-account li:first-child a {
        color: #fff;
    }

    .alias-menu-account li:first-child img {
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .alias-menu-account .fa {
        margin-right: 10px;
    }

    .account p {
        font-size: 12px;
    }

    .account .number-account {
        font-size: 15px;
    }

    .items-browse {
        width: 100%;
    }
    /****** End Info-account ******/
    .info-content-user .info-left {
        padding: 0px;
    }

    .form-month {
        margin-bottom: 15px;
    }

    .link-step .formlink-group {
        padding: 0px 0px 15px 0px;
    }

    .confirm-error .bg-blank {
        background: #000;
        opacity: 0.8;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .recharge-left,
    .recharge-right {
        padding: 0px;
    }

    .recharge-mobile .info-recharge-left {
        padding: 35px 15px;
    }

    .payment-text {
        float: left;
    }

    .alias-footer {
        display: none;
    }

    .menu-bottom-footer ul li a {
        font-size: 9px;
    }

    .info-bottom-footer .social {
        text-align: center;
    }

    .info-bottom-footer .logo-bottom {
        float: none;
        text-align: center;
    }

    .info-bottom-footer .name-company {
        margin-left: 0px;
        text-align: center;
    }

    .info-bottom-footer .menu-bottom-footer {
        text-align: center;
        padding: 15px 0px 0px 0px;
    }

    .notification .fa-bell-o {
        font-size: 18px;
        color: #fff;
    }

    .alias-notification {
        position: absolute;
        left: -195px;
    }

    .arrow_box::after,
    .arrow_box::before {
        bottom: 100%;
        left: 68%;
    }

    .notification {
        position: absolute;
        top: 20px;
        right: -80px;
        min-height: 50px;
    }
    /** HOME **/
    .info-account {
        width: 100%;
        margin: 0px auto 15px;
    }

    .menu .menu-navigator {
        display: none;
    }
    /**END  MENU NEW ***/
    .card-ATM-info .form-year {
        padding-left: 15px;
    }

    .card-otp {
        padding: 0px;
    }

    .card-info-otp .card-item {
        float: none;
    }

    .container {
        width: 100%;
    }

    .news-content .app-right .hi-thumb {
        display: inline-block;
    }

    .items-left,
    .items-right {
        width: 100%;
        
    }

    .news-content .app-right {
        float: none;
        width: 100%;
    }

    .news-content .banner {
        float: none;
        margin: 10px auto;
        text-align: center;
    }

        .news-content .banner .hi-thumb {
            width: 50%;
            float: left;
        }

            .news-content .banner .hi-thumb a {
                width: 50%;
            }

            .news-content .banner .hi-thumb img {
                max-width: 100%;
            }

    .items-left .slider-left .he-thumb img {
        width: 100%;
    }

    .help .search {
        position: absolute;
        top: 15px;
    }
    /*.items-right {
        display: none;
    }*/
    .link-step .formlink-group .form-group .control-label {
        text-align: left;
    }

    .paymentracharge {
        width: 665px;
    }

    .list-news {
        min-height: auto;
    }
}

@media (max-width: 640px) {
    /*** HOME ****/
    .user ul li {
        width: 100%;
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    .news-sale ul li {
        width: 100%;
        float: left;
    }

    .news-sale .info-news {
        display: block;
    }
    /*** END HOME ****/
    /** LINK CARD ***/
    .link-card ul li {
        width: 25%;
        float: left;
    }
    /*** END LINK CARD ***/
    .info-payment-card ul li {
        width: 25%;
    }
    /** history trangding **/
    .info-trading {
        padding-right: 0px;
    }

        .info-trading .form-group {
            width: 18%;
            float: left;
            margin-right: 10px;
            margin-bottom: 0px;
        }

            .info-trading .form-group:last-child {
                width: 15%;
                margin-right: 0px;
            }
    /** end history trangding **/
    .paymentracharge {
        width: 530px;
    }
}

@media (max-width: 533px) {
    .info-payment-card ul li,
    .list-news .h-item ul li {
        width: 33.3%;
    }

    .news .h-item ul li {
        width: 33.3%;
    }
    /**** forgotpassword ***/
    .forgotpassword {
        height: auto;
    }

    .info-forgotpassword .btn-confirm,
    .info-forgotpassword .btn-confirm,
    .info-forgotpassword .form-group {
        width: 100%;
    }

    .forgotpassword-left,
    .forgotpassword-right {
        float: none;
        width: 100%;
    }

    .forgotpassword-right {
        padding-bottom: 20px;
    }
    /** end forgotpassword **/
    /** info-racharge-card-link  **/
    .info-racharge-card-link ul li {
        float: left;
        width: 33.3%;
        text-align: center;
    }
    /** end info-racharge-card-link  **/
    .recharge-card-error .transactions .fa-times {
        margin-top: 10px;
    }

    .news-content .banner .hi-thumb a {
        display: inline;
    }

    .news-content .new-sale ul li {
        width: 100%;
    }

    .help-content .help .item-top ul li {
        width: 33.3%;
    }

    .help-content .search {
        position: absolute;
        top: 15px;
    }

    .help-content .help .item-bottom ul li {
        width: 100%;
    }
}

@media (max-width: 480px) {
    /*** HOME ***/
    /** END HOME ***/
    /** LINK CARD ***/
    .link-card ul li {
        width: 33.3%;
        float: left;
    }
    /*** END LINK CARD ***/
    .paymentracharge {
        width: 395px;
    }
}

@media (max-width: 360px) {
    .footer-left .hi-items .alias-items li {
        padding-bottom: 20px;
        width: 100%;
        float: none;
    }

    .info-content-user {
        padding-bottom: 15px;
    }

    .items .right p,
    .text-time p:last-child {
        font-size: 12px;
    }

    .balance-left,
    .balance-right {
        float: none;
    }

        .balance-right .btn-link {
            padding: 6px 45px;
        }

    .link-card ul li {
        width: 50%;
        float: left;
    }

    .text-logo img {
        float: none;
    }

    .text-logo p {
        margin-left: 0px;
    }

    .process-link .text-italic {
        font-style: italic;
        float: none;
    }

    .process-link p {
        font-size: 13px;
        margin-left: 0px;
    }

    .btn-on {
        float: none;
    }

    .top-link p {
        margin: 10px 0px 0px 0px;
    }

    .info-card-step {
        padding: 0px;
    }

    .card-info {
        width: 100%;
    }

    .info-account h3 {
        font-size: 22px;
    }

    .popup-confirm .hi-popup {
        width: 100%;
    }

    .confirm-error .confirm-items {
        width: 100%;
    }

    .info-confirm-success .card-info {
        width: 100%;
    }

    .bottom-recharge-left ul li {
        margin-bottom: 15px;
    }

    .info-payment-card ul li {
        width: 50%;
    }
    /** register-confirm **/
    .info-user-confirm p {
        padding: 15px 0px;
        width: 100%;
        margin: auto;
    }
    /** end register-confirm **/
    /** info-racharge-card-link  **/
    .info-racharge-card-link ul li {
        width: 50%;
    }
    /** end info-racharge-card-link  **/
    .info-account h3 {
        font-size: 15px;
    }

    .info-card-visa .alert-dismissible .close {
        position: relative;
        top: -11px;
        right: -21px;
        color: inherit;
    }

    .info-card-visa .formlink-group .btn-update {
        padding: 8px 40px;
        margin-right: 5px;
    }

    .info-transfers .form-group .control-label {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .info-transfers .hi-thumb {
        float: none;
    }

    .btn-update {
        width: 120px;
    }

    .news-content .banner .hi-thumb {
        width: 100%;
    }

    .help-content .search {
        position: absolute;
        top: 0px;
        width: 100%;
    }
    /** history trangding **/
    .info-trading {
        padding-right: 0px;
    }

        .info-trading .form-group {
            width: 45%;
            margin-bottom: 15px;
            margin-right: 10px;
        }

            .info-trading .form-group:last-child {
                width: 93%;
                margin-bottom: 0px;
            }
    /** end history trangding **/
    .paymentracharge {
        width: 260px;
    }

    .list-news .h-item ul li {
        width: 50%;
    }

    .recharge-card-scratch .hi-thumb {
        float: none;
    }

    .recharge-card-scratch .view-rate {
        text-align: left;
    }
}

.view {
    padding-bottom: 10px;
}